reated by https://www.gitignore.io/api/haskell,jupyternotebook,jupyternotebooks
# Edit at https://www.gitignore.io/?templates=haskell,jupyternotebook,jupyternotebooks

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/


# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.gitignore.io/api/haskell,jupyternotebook,jupyternotebooks
